  @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient( 173.1deg,  rgba(226,66,249,0.94) 10.2%, rgba(79,147,249,1) 77.3% );    margin: auto;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    padding: 20px;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
}
h2 {
    font-size: 18px;
    line-height: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
h3 {
    font-size: 12px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: rgb(247, 247, 247);
    margin: 5px;
    padding: 4px;
    border-radius: 5px;
}
h3:hover{
    background-color: rgb(255, 255, 255);
}
h4 {
    font-size: 16px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color: rgb(247, 247, 247);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
h4:hover {
    background-color: #FFF;
}
p {
    font-size: 12px;
    line-height: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif;
}
ul {
    margin-left: 4px;
}
li {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 20px;
}
a {
    color: rgb(54, 54, 54);
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
}
a:hover {
    color: black;
}
.menu {
    background-color: rgb(250, 250, 250);
}
.menu > li {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    list-style: none;
}
main {
    justify-content: space-around;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.contenido {
    margin: auto;
    /* width: 40%; */
    background-color: rgb(245, 245, 245);
    padding: 18px;
    border-radius: 6px;
    margin-top: 20px;
    width: 500px;
    min-width: 250px;
}
#perfil {
    display: none;
}
#ingreso {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    height: fit-content;
}
#info {
    text-align: left;
}
#datos {
    display: none;
    flex-direction: row;
}
#mostrarIngresos, #mostrarGastos /* #mostrarAlquiler, #mostrarServicios, #mostrarComida, #mostrarTransporte, #mostrarOtros */ {
    display: none;
}
#convertidorContainer {
    display: none;
}
#convertidor {
    display: none;
}
#convivientes {
    display: none;
    flex-direction: row;
}

footer {
    font-size: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    left: 0px;
}
/* Responsive */
@media screen and (max-width: 1100px){
    .contenido {
        min-width: 400px;
}
}
@media screen and (max-width: 950px){
    .contenido {
        width: 55%;
}
}
@media screen and (max-width: 800px){
    .contenido {
        width: 65%;
}
}
@media screen and (max-width: 700px){
    .contenido {
        width: 90%;
}
}
@media screen and (max-width: 400px){
    .contenido {
        width: 90%;
        min-width: 350px;
}
}



/* Formularios */
button {
    background-color: rgb(251, 129, 255);
}
input, button {
    padding: 10px;
    border-radius: 4px;
    border: solid 1px rgb(228, 228, 228);
    font-family: 'Questrial', sans-serif;
    display: block;
    margin: 5px;
    transition-duration: 400ms;
    width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:hover {
    border: solid 1px rgb(189, 189, 189);
    transition-duration: 400ms;
}
button:hover {
    background-color: rgb(253, 188, 255);
    border: solid 1px rgb(211, 211, 211);
    transition-duration: 400ms;
}
input:focus {
    border: solid 1px rgb(65, 8, 170);
    transition-duration: 400ms;
    outline: none;
}
#convivientes input {
    background-color: rgb(255, 255, 255);
    padding: 6px;
}
label {
    font-size: 14px;
    margin: 5px;
}
select {
    background: url(images/down-arrow-svgrepo-com.svg) no-repeat center right 0.7rem;
    font-family: 'Questrial', sans-serif;
    padding: 5px;
    border-radius: 5px;
}
select:focus {
    border: solid 1px rgb(65, 8, 170);
    transition-duration: 400ms;
    outline: none;
}
select::after{
    background-color: aqua;
}

#listaCompras {
    display: none;
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #cfcfcf;
}
th {
    background-color: #f2f2f2;
}
th:hover {
    background-color: #fff;
}
#thVacio:hover {
    background-color:#f2f2f2;;
}